*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
.nav{
    position: fixed;
    width: 100%;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.084);
    z-index: 1;
}
.left-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.left-nav p{
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(180deg, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 70px;
    align-items: center;
}
.right-nav a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 5px;
}
.right-nav a:hover{
    color: rgba(255, 166, 0, 0.653);
}
.right-nav #menu{
    display: none;
}
#last{
    margin-right: 30px;
    color: white;
    background-color: green;
    padding: 10px 30px;
    border-radius: 10px;
}
.home{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(90deg, #F79D65 1%, rgba(0, 0, 0, 0.685));
    /*background-color: rgba(255, 166, 0, 0.762);*/
}
.left-home{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.left-home #name{
    font-size: 90px;
    font-weight: 1000;
    color: white;
}
.left-home #description{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.links{
    display: flex;
    gap: 100px;
    font-size: 20px;
}
.links #yeah{
    color: white;
    justify-content: center;
    align-self: center;
}
.links #yeah:hover{
    text-decoration: underline;
}
.links #yes{
    background-color: green;
    border-radius: 15px;
    color: white;
    padding: 9px 20px;
}
.links #yes:hover{
    color: black;
    background-color: white;
    transition-duration: 0.4s;
}
.ca{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 10em;
    justify-content: center;
    align-items: center;
}
.ca i{
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}
.right-home{
    justify-content: center;
    align-items: center;
    display: flex;
}
.first{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(255, 192, 203);
}
#deer{
    position: absolute;
    top: -100px;
    left: 10px;
}
#ghost{
    position: absolute;
    bottom: 150px;
    right: 0px;
}
#heyy{
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    color: white;
    padding: 10px;
}
#bee{
    width: 50%;
    height: auto;
    font-size: 20px;
    line-height: 2rem;
}
.chart{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 217, 0, 0.774);
}
.chart p{
    margin-bottom:10px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.socials{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: white;
}
.how-to-buy{
    height: 100vh;
    background-color: #ffdab9;
}
.how-to-buy p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.steps{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
#ls{
    padding: 20px;
    line-height: 3em;
    height: auto;
    font-size: 1.2em;
    border-radius: 15px;
    background-color: white;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.list img{
    cursor: pointer;
}
@media(max-width: 768px){
    .nav{
        padding: 15px;
    }
    .right-nav #menu{
        display: block;
        font-size: 25px;
    }
    .left-nav p{
        display: none;
    }
    .left-nav img{
        display: none;
    }
    .home{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 130vh;
    }
    .home #name{
        font-size: 50px;
    }
    .left-home {
        display: flex;
        gap: 30px;
    }
    .left-home #description{
        font-size: 20px;
    }
    .home img{
        width: 300px;
        height: 300px;
    }
    .ca{
        padding: 10px;
        display: flex;
        gap: 3rem;
    }
    .qes{
        display: none;
    }
    .links{
        display: flex;
        gap: 50px;
    }
    .links a{
        font-size: 16px;
    }
    .first{
    display: none;
}
}
